.dialogs {
    display :grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems .dialog {
    padding: 2px;
}

.dialogsItems .active {
    color: gold;
}

.messages .message{

}
.dialog a {
    text-decoration: none;
}